################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
*.props
*.targets
/obj
/Debug
*.AssemblyInfo.cs
project.assets.json
*.Authentication.*.json
*.deps.json
*.json
*.dll
*.pdb
*.xml
*.CopyComplete
*.txt
*.user
