################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
*.props
*.targets
/obj
/Debug
*.AssemblyInfo.cs
project.assets.json
*.Authentication.*.json
*.deps.json
*.dll
*.pdb
*.xml
*.CopyComplete
*.txt
*.user
*.ttf
*.svg
*.woff2
*.woff
*.eot
*.css
*.map
*.less
*.csslintrc
*.ps1
*.nuspec
*.jpeg
*.jpg
*.png
*.pdf
*.doc
*.docx
/src/IdentityServerWithAspNetIdentity/bower_components/bootstrap/js
/src/IdentityServerWithAspNetIdentity/bower_components/bootstrap/grunt
/src/IdentityServerWithAspNetIdentity/bower_components
/src/StudentsManagement.Persistence.EF/Migrations/20180514092353_newMigration.cs
/src/StudentsManagement.Persistence.EF/Migrations/20180514092353_newMigration.Designer.cs
/src/Api/bin/Debug/netcoreapp2.0
/src/Api
/src/Client/bin/Debug/netcoreapp2.0
/src/IdentityServerWithAspNetIdentity
/src/MvcClient/bin/Debug/netcoreapp2.0
/src/MvcClient/wwwroot/lib
/src/ResourceOwnerClient/bin/Debug/netcoreapp2.0
/src/StudentsManagement.Persistence.EF/bin/Debug/netcoreapp2.0
