@model DepartmentAddEmployee
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add Employee to " + Model.Department.Name;
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="DepartmentAddEmployee"  method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Department.Id" value="@Model.Department.Id" class="form-control" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Select Team</label>
                <br /><br />
                      <select asp-for="EmployeeId" id="mainselection">
                              @if (Model.Employees.ToList().Count != 0)
                              {
                                  var employees = Model.Employees.ToList();
                                  foreach (var employee in employees)
                                  {
                                          <option value="@employee.Id"> @employee.Name </option>
                                  }
                              }
                      </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        </div>
</div>
<div>
    <br />
    <a asp-action="DepartmentInfo" asp-route-id ="@Model.Department.Id">Back to Department Info</a>
</div>
