<div class="welcome-page">
    <div class="row">
        <div class="col-sm-10">
            <br /><br />
            <img class="icon" src="~/img/0425_SFTL_Map-1.png">
        </div>
    </div>
</div>
