@model AddEmployeeToTeam

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Assign Team Leader to " + Model.Team.Name;
}

<h3>Add Students to activity: @Model.Team.Name</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="TeamAddEmployee"  method="post">
            <div asp-validation-summary="All" class="text-danger hidden"></div>
            <input type="hidden" asp-for="Team.Id" value="@Model.Team.Id" class="form-control" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Select Employee</label>
                <br /><br />
                <select asp-for="EmployeeId" id="mainselection">
                @{
                    if (Model.Employees.ToList().Count != 0)
                    {
                        var employeesList = Model.Employees.ToList();
                        foreach (var employee in employeesList)
                        {
                            <option value="@employee.Id">@employee.Name</option>
                        }
                    }
                }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        </div>
</div>
<div>
    <br />
    <a asp-action="ManageTeams">Back to team list</a>
</div>
